.dashboard {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  padding: 40px;

  .sidebar {
    &__nav-item {
      font-size: 20px;
      padding: 5px 0;
      cursor: pointer;
    }
  }
}
